.footer {
  background-color: #292D32;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3%;
  height: 20%;
}

.footer-left div {
  display: flex;
  column-gap: 5px;
}

.footer-left button {
  background-color: #00CC99;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.footer-right div {
  display: flex;
  column-gap: 5px;
}

img {
  width: 25px;
  height: 25px;
}

p {
  color: white;
}
