.test-transparent-bckgr{
    color: black;
}

.navbar{
    width: 100%;
    background-color: black;
    height: 10%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 5px;
    justify-content: space-between;
}

.navbar-logo {
    width: 10%;
    height: auto ;
    margin: 10px;
}

.navbar-search {
    display: flex;
    flex-direction: row;
    background: rgba(27, 228, 228, 0.3);    
    justify-content: left;
    align-items: center;
    width: 50%;
    height: auto;
    border-radius: 10px;
    /*padding: 10px;*/
    margin: 10px;
}

.navbar-search mat-icon, .navbar-personal mat-icon, .navbar a{
    padding: 10px;
    color: white;
}

input {
    width: 70%;
    background-color: rgba(124, 124, 124, 0);
    border: none;
}

::placeholder{
    color: white;
    opacity: 1;
}

.navbar-personal, .navbar-history{
    align-items: center;
    margin: 10px;
    background: rgba(27, 228, 228, 0.3);
    border-radius: 10px;
}

.navbar-history{
    padding: 10px;
}