/* layout */
.history {
    
    background-color: black;
    padding: 2% 5% 5% 5%;
}

.history-header {
    /* width: 50%;
    height: 20%; */
    padding: 1%;
    /* margin-left: 25%; */
}

.history-section {
    /* width: 50%;
    height: 80%; */
    padding: 1%;
    /* margin-left: 25%; */
    background-color: black;
    border-radius: 10px;
    border: 1px solid;
    /* filter: drop-shadow(-5px 20px 50px var(--shadow-color));
    --shadow-color: hsla(165, 100%, 20%, 0.9); */
    box-shadow: -1px 0px 49px -5px hsla(165, 100%, 20%, 0.9);
    -webkit-box-shadow: -1px 0px 49px -5px hsla(165, 100%, 20%, 0.9);
    -moz-box-shadow: -1px 0px 49px -5px hsla(165, 100%, 20%, 0.9);
}
/* text */
.history-header h1, .history-table-header th {
    color: #00CC99;
}

.history-header p {
    color: white;
}

.mat-mdc-tab .mdc-tab__text-label {
    color: white !important;
}

.active-tab-label {
    color: #00CC99;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
}


/* section-function */
.history-section-function-search {
    display: flex;
    flex-direction: row;
    background: rgba(60, 186, 186, 0.449);    
    justify-content: left;
    align-items: center;
    width: 20%;
    height: 70%;
    border-radius: 10px;
    /*padding: 10px;*/
    margin: 10px;
    padding: 10px;
}

.history-section-function-search mat-icon {
    /* padding: 10px; */
    color: #00CC99;
    height: 50%;
}

.history-search-input {
    /* width: 70%; */
    background-color: rgba(124, 124, 124, 0);
    border: none;
}

.history-section-function-search, .history-section-function-filter {
    width: 50%; 
}

.history-section-function-filter mat-icon {
    float: right;
    color: #00CC99;
    margin: 1% 2% 0 0;
}

/*  table */
.history-section-transaction-table {
    margin-left: 1%;
}
.history-section-function {
    display: flex;
    flex-direction: row;
}

.history-section-transaction {
    width: 100%;
    overflow-x: hidden;
}

.history-section-transaction-header {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
}

table {
    width: 100%;
}

.history-trade {
    /* padding-right: 10vw !important; */
    width: 35%;
}

.history-amount, .history-unit, .history-price, .history-date,.history-status {
    padding-right: 2vw !important;
}

th, td {
    padding-bottom: 2vw;
}


/* status condition */
.history-fail {
    color: red;
}

.history-processing {
    color: green;
}