<app-navbar></app-navbar>
<div class="history">
    <div class="history-header">
        <h1>Trade history</h1>
        <p>View your trades and transactions</p>
    </div>
    <div class="history-section">
        <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab>
                <ng-template mat-tab-label>
                    <span
                        [ngClass]="{'my-custom-class': activeTabIndex === 0, 'active-tab-label': activeTabIndex === 0}">All
                        trades</span>
                </ng-template>
                <div class="history-section-function">
                    <div class="history-section-function-search">
                        <mat-icon>search</mat-icon>
                        <input class="history-search-input" placeholder="Search items, category" />
                    </div>
                    <div class="history-section-function-filter">
                        <mat-icon>filter_list</mat-icon>
                    </div>
                </div>
                <!-- css form pop bckgr -->
                <div class="history-section-transaction">
                    <table class="history-section-transaction-table">
                        <thead>
                            <tr class="history-table-header">
                                <th><span style="width: 35%;">Name</span>
                                <th><span>Amount</span>
                                <th><span>Price</span>
                                <th><span>Date</span>
                                <th><span>Status</span>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="color:white;" *ngFor="let trans of transactions">
                                <td class="history-name">{{trans.ProdName}}</td>
                                <td class="history-amount">{{trans.TransAmount}}</td>
                                <td class="history-price">${{trans.ProdPrice}}</td>
                                <td class="history-date">{{trans.TransDate}}</td>
                                <td class="history-status">{{trans.Trans_Status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <span
                        [ngClass]="{'my-custom-class': activeTabIndex === 1, 'active-tab-label': activeTabIndex === 1}">Buy</span>
                </ng-template>
                <div class="history-section-function">
                    <div class="history-section-function-search">
                        <mat-icon>search</mat-icon>
                        <input class="history-search-input" placeholder="Search items, category" />
                    </div>
                    <div class="history-section-function-filter">
                        <mat-icon>filter_list</mat-icon>
                    </div>
                </div>
                <!-- css form pop bckgr -->
                <div class="history-section-transaction">
                    <table class="history-section-transaction-table">
                        <thead>
                            <tr class="history-table-header">
                                <th><span style="width: 35%;">Name</span>
                                <th><span style="float: left;">Amount</span>
                                <th><span style="float: left;">Price</span>
                                <th><span style="float: left;">Date</span>
                                <th><span style="float: left;">Status</span>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="color:white;" *ngFor="let trans of buyTransactions">
                                <td class="history-name">{{trans.ProdName}}</td>
                                <td class="history-amount">{{trans.TransAmount}}</td>
                                <td class="history-price">${{trans.ProdPrice}}</td>
                                <td class="history-date">{{trans.TransDate}}</td>
                                <td class="history-status">{{trans.Trans_Status}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <span
                        [ngClass]="{'my-custom-class': activeTabIndex === 2, 'active-tab-label': activeTabIndex === 2}">Sell</span>
                </ng-template>
                <div class="history-section-function">
                    <div class="history-section-function-search">
                        <mat-icon>search</mat-icon>
                        <input class="history-search-input" placeholder="Search items, category" />
                    </div>
                    <div class="history-section-function-filter">
                        <mat-icon>filter_list</mat-icon>
                    </div>
                </div>
                <!-- css form pop bckgr -->
                <div class="history-section-transaction">
                    <table class="history-section-transaction-table">
                        <thead>
                            <tr class="history-table-header">
                                <th><span style="width: 35%;">Name</span>
                                <th><span style="float: left;">Amount</span>
                                <th><span style="float: left;">Price</span>
                                <th><span style="float: left;">Date</span>
                                <th><span style="float: left;">Status</span>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="color:white;" *ngFor="let trans of sellTransactions">
                                <td class="history-name">{{trans.ProdName}}</td>
                                <td class="history-amount">{{trans.TransAmount}}</td>
                                <td class="history-price">${{trans.ProdPrice}}</td>
                                <td class="history-date">{{trans.TransDate}}</td>
                                <td class="history-status">{{trans.Trans_Status}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<app-footer></app-footer>