<div class="login">
    <div class="login-section">
        <div class="login-section-container">
            <div class="login-section-container-header">
                <h1 class="login-section-container-header-tittle">Welcome billionare</h1>
                <p id="login-section-container-header-p">Please enter your details!</p>
            </div>
            <div class="login-section-container-function">
                <p>Email</p>
                <mat-form-field class="login-section-container-emailField" appearance="outline">
                    <input class="login-emailInput" type="email" matInput placeholder="Enter you email"
                        [formControl]="email" required>
                    <!-- Display error and verify email using function-->
                    <mat-error *ngIf="email.invalid">{{getErrorEmailMessage()}}</mat-error>
                </mat-form-field>
                <p>Password</p>
                <mat-form-field class="login-section-container-passwordField" appearance="outline">
                    <input class="login-passwordInput" type="password" matInput placeholder="Enter you password"
                        [formControl]="password" required>
                    <!-- Display error and verify email using function-->
                    <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
                </mat-form-field>
            </div>

            <!-- Need additonal code for BE function -->
            <section class="login-section-container-loginOption">
                <mat-checkbox color="primary">Remember me!</mat-checkbox>
                <a routerLink="/forgotPassword">Forgot password?</a>
            </section>
            <!-- Temporary go directly to main page, when move to stage 2 and imply BE, need to be change -->
            <button class="login-button" mat-raised-button color="primary" (click)="verifyAccount()">Sign in</button>
            <p>Don't have an account? <a routerLink="/register">Sign up</a> now</p>
        </div>

    </div>

    <div class="login-img_background"></div>
</div>