.register-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.register-section a {
    color: white;
    text-decoration: none;
}

.register-section-backgroundImage {        
    position: relative;
    width: 100%;
            
    background-image: url("src\assets\img\ETH.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.register-button {
    width: 100%;
    margin-bottom: 2%;
    background-color: teal !important;
}

.register-emailInput, .register-passwordInput, .register-firstNameInput {
    color: white !important;
}
  
.register-section-container {
    position: absolute;
    transform: translate(-50%, -50%, -50%, -50%);
    padding: 5%;
    margin: 5% 37.5% 0% 33%;
    background-color: black;
    border-radius: 5%;
    border: 1px solid;
    /* box-shadow: 5px 10px white;; */
        
    filter: drop-shadow(10px 20px 50px var(--shadow-color));
    --shadow-color: hsla(165, 100%, 40%, 0.9);
}
  
#register-section-container-header-p {
    color: white;
}
  
.register-section-container-function {
    max-height: 30vh; /* Adjust the maximum height as needed */
    overflow-y: auto;
    width: 100%;

    margin: 10% 0% 10% 0%;
}
  
.register-section-container-function p {
    margin-bottom: 1px;
}
      
.register-section-container-firstNameField {
    width: 90%;
}
  
.register-section-container-firstNameField input {
    width: 90%;
}
  
.register-section-container-firstNameField mat-error {
    color: red;
    font-size: 10px;
    margin-top: -1%;
    margin-left: -2%;
}
      
.register-section-container-givenNameField {
    width: 90%;
}
  
.register-section-container-givenNameField input {
    width: 90%;
}
  
.register-section-container-givenNameField mat-error {
    color: red;
    font-size: 10px;
    margin-top: -1%;
    margin-left: -2%;
}
 
.register-section-container-emailField {
    width: 90%;
}
  
.register-section-container-emailField input {
    width: 90%;
    border-color: white;
}
  
.register-section-container-emailField mat-error {
    color: red;
    font-size: 10px;
    margin-top: -1%;
    margin-left: -2%;
}
  
.register-section-container-passwordField {
    width: 90%;
}
  
.register-section-container-passwordField input {
    width: 90%;
}
  
.register-section-container-passwordField mat-error {
    color: red;
    font-size: 10px;
    margin-top: -1%;
    margin-left: -2%;
}
  
.register-section-container-registerOption {
    display: flex;
    flex-direction: row;
    font-size: smaller;
    width: 100%;
    padding-bottom: -2%;
    margin-top: -3%;
}
  
.register-section-container-registerOption a {
    text-decoration: none;
    /* Divide into to 2 equal field */
    width: 50%;
    text-align: right;
    vertical-align: middle;
    /* color: slateblue; */
    padding: 3% 0;
}
  
.register-section-container-registerOption mat-checkbox {
    /* Divide into to 2 equal field */
    width: 50%;
    float: left;
    color: blueviolet;
    padding-left: 0 !important;
}
  
    /*  */
    /* mat-checkbox {
    color: rgb(0,178,0);
    /deep/ .mat-checkbox-background {
        background-color: rgb(0,178,0);
    }
  
    /deep/ &.mat-checkbox-focused{
        .mat-ink-ripple{
            background-color: rgba(0, 178, 0, .26);
        }
    }
  } */
  
    /*  */
.mdc-checkbox__native-controlmdc-checkbox__native-control {
    padding-left: 0;
}

h1, p {
    color: hsla(165, 100%, 40%, 0.9);
}

input::placeholder {
    color: white !important;
}

input, select, textarea {
    color: hsla(165, 100%, 40%, 0.9) !important;
    border: 1px solid white !important;
}

a {
    color: blue;
}

@media (min-width: 480px) {
    h1 {
        font-size: 3vw;
    }

    .register-section-container {
        width: 25%;
        position: absolute;
        transform: translate(-50%, -50%, -50%, -50%);
        padding: 5%;
        margin: 5% 37.5% 0% 33%;
        background-color: black;
        border-radius: 5%;
        border: 1px solid;
        /* box-shadow: 5px 10px white;; */
            
        filter: drop-shadow(10px 20px 50px var(--shadow-color));
        --shadow-color: hsla(165, 100%, 40%, 0.9);
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 8vw;
    }

    .register-section-container {
        width: 70%;
        position: absolute;
        transform: translate(-50%, -50%, -50%, -50%);
        padding: 5%;
        margin: 25% 10% 25% 10%;
        background-color: black;
        border-radius: 5%;
        border: 1px solid;
        /* box-shadow: 5px 10px white;; */
            
        filter: drop-shadow(10px 20px 50px var(--shadow-color));
        --shadow-color: hsla(165, 100%, 40%, 0.9);
    }
}